body {
    background: #222;
    margin: 10% auto;
    width: 960px;
}

#clock {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}